* {
  box-sizing: border-box;
}
.nav-list {
    padding: 0;
    list-style-type: none;
    background-color: rebeccapurple;
    margin: 0;
}

.nav-list li {
  display: inline-block;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li:hover {
  background-color: #C8A2C8;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: auto;
}

article {
  flex-grow: 3;
}

aside {
  flex-grow: 1;
}

.banner {
  background-image: url(../img/bricks.jpg);
  margin: 0;
  background-size: cover;
  min-height: 300px;
  background-repeat: no-repeat;
}
.content {
  display: flex;
}

footer {
  background-color: rebeccapurple;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  Height: 60px;
  Width: 100%;

}

.useful-links {
  list-style-type: none;
  padding: 0;
}
