.nav-list {
    padding: 0;
    list-style-type: none;
    background-color: rebeccapurple;
    padding: 15px 20px 15px 20px;
    margin: 0;
}

.nav-list li {
  display: inline;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li:hover{
  background-color: #C8A2C8;
}

footer {
  background-color: rebeccapurple;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  Height: 60px;
  Width: 100%;

}
